<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>QUE ES JAVA</title>
<link rel="stylesheet" href="/css/estilos.css"></link>
</head>
<body>
    <header id="encabezado">
        <h1>MATERIA:"Programación Visual"</h1>
        <nav class="menu-navegacion">
            <ol>
                <li><a href="#seccion1">La plataforma Java</a></li>
                <li><a href="#seccion2">El lenguaje de programación Java </a></li>
                <li><a href="#seccion3">Características de Java </a></li>
            </ol>

        </nav>
    </header>
    <main class="contenido-principal">
        <section class="seccion" id="seccion1">
            <h2 class="titulo-seccion">QUE ES JAVA </h2>
            <h3>Es una tecnología que incluye un lenguaje de programación y una plataforma de desarrollo</h3>
        </section>
        <section class="seccion" id="seccion2">
            <h2 class="titulo-seccion">Java</h2>
            <h3>La plataforma Java </h3>
            <p class="contenido-seccion">Por definición, una plataforma es el ambiente hardware o software sobre el cual se puede ejecutar un programa. La mayoría de las plataformas actuales se pueden describir como una combinación de un sistema operativo y su hardware subyacente; por ejemplo, un pc con su sistema operativo Windows se denomina comúnmente plataforma Windows, una notebook con una distribución Linux se denomina plataforma Linux y un celular con Android se conoce como plataforma Android. </p>
            <p class="contenido-seccion">La plataforma Java difiere respecto de las plataformas mencionadas en el párrafo anterior debido a que es una plataforma software que se ejecuta sobre las prestaciones que brinda otra plataforma que gestiona el hardware (denominada plataforma base) </p>
        </section>
        <section class="seccion" id="seccion3">
            <h2 class="titulo-seccion">Programación de alto nivel</h2>
            <p class="contenido-seccion">Un lenguaje de programación de alto nivel es un tipo de lenguaje informático que es más fácil de entender y escribir para los humanos</p>
            <h3>El lenguaje de programación Java</h3>
            <p class="contenido-seccion">Es un lenguaje de programación de alto nivel. Su creador James Gosling lo define en base a sus características: sencillo, orientado a objetos, distribuido, interpretado, robusto, seguro, independiente de las arquitecturas, portable, eficaz, multitarea y dinámico. Antes de poder describir en detalle cada una de estas características es conveniente indicar como funciona el proceso de desarrollo de una aplicación Java. </p>    
        </section>
        <section class="seccion">
            <h2 class="titulo-seccion">Características de Java</h2>
            <ul class="contenido-seccion">
                <li> Sencillo </li>
                <li> Orientado a objetos </li>
                <li> Distribuido </li>
                <li> Interpretado </li>
                <li> Robusto </li>
                <li> Seguro </li>
                <li> Independiente de las arquitecturas </li>
                <li> Portable </li>
                <li> Eficaz </li>
                <li> Multitarea </li>
                <li> Dinámico </li>       
            </ul>
        </section>
        <section class="seccion">
            <h2 class="titulo-seccion">Ediciones de Java</h2>
            <table class="contenido-seccion">
                <tr>
                    <th>Edición</th>
                    <th>Descripción</th>
                </tr>
                <tr>
                    <td>Java SE</td>
                    <td>Conocida como Standard Edition, es la edición más difundida de la plataforma Java. Incorpora el JDK, necesario para crear aplicaciones de escritorio con o sin interfaz gráfica de usuario, acceso al sistema de archivos, comunicación a través de redes, concurrencia y otros servicios básicos.</td>
                </tr>
                <tr>
                    <td>JavaFX</td>
                    <td>Originalmente era una alternativa a Java SE para el desarrollo de proyectos de tipo RIA (Rich Internet Applications), con un núcleo más ligero y fácil de distribuir, capacidad de aceleración 3D aprovechando la GPU, servicios avanzados para producción de gráficos y animaciones, y un mecanismo simplificado para el diseño de interfaces de usuario. JavaFX forma parte de Java SE desde la versión 7 de dicha edición de la plataforma (y se eliminó de la misma a partir de la versión 13).</td>
                </tr>
                <tr>
                    <td>Java EE</td>
                    <td>Denominada Enterprise Edition de la plataforma Java, es la versión dirigida al desarrollo de soluciones software que se ejecutarán en un servidor de aplicaciones. A las capacidades de Java SE, la edición EE agrega servicios para gestionar la persistencia de objetos en bases de datos, hacer posible la invocación remota de métodos, crear aplicaciones con interfaz de usuario web, etc.</td>
                </tr>
                <tr>
                    <td>Java ME</td>
                    <td>Micro Edition, está enfocada a la creación de programas que se ejecutarán en sistemas con recursos limitados, tales como teléfonos móviles, electrodomésticos y dispositivos de domótica o equipos para entornos empotrados como la Rasperry Pi y similares.</td>
                </tr>
            </table>
        </section>
    </main>
    <aside class="adicional">
        <a href="https://spring.io/tools">Enlace a Spring Tool Suite</a>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlfELtjrat8Rdge4RUNtjh7Nt6_vO4TEZoE83FmDf-&s" alt="ide spring tool suite">
    </aside>
    <footer id="pie-pagina">
            <p>Contacto: progvisualapu@example.com</p>
            <a href="https://www.facebook.com" class="enlace-pie">Facebook</a>
            <p>Sígueme en redes sociales:</p>
            <a href="https://www.twitter.com" class="enlace-pie">Twitter</a>
    </footer>
</body>
</html>
